
:root {
    /* ------------------ */
    /* BORDER RADIUS */
    /* ------------------ */
    --radius-sm: 2px;
    --radius-md: 4px;
    --radius-lg: 8px;
    --radius-xl: 16px;
    --radius-circle: 100%;
    --radius-capsule: 100vw;

    --border-small: 1px;
    --border-large: 2px;
}