

.link {
    display: inline-flex;
    flex-flow: row nowrap;
    gap: var(--spacing-sm);
    color: var(--text-link);
    text-decoration: none;
    transition: color 0.3s ease;

    &:hover {
        color: var(--text-link-hover);
    }

    &:active {
        color: var(--text-link);
    }
}