.navContainer {
    position: sticky;
    top: 0;
    left: 0;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: var(--small-layout-padding-y) var(--layout-padding-x);
    gap: var(--spacing-md);

    background-color: var(--background-primary);
    box-shadow: var(--shadow-md);
}